<!DOCTYPE html>
<html>

<head>
    <title>Privet Drive</title>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Athiti:300,400'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css'>
<script
  <script src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.7.1/bodymovin.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css" /><!-- Color Picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
    <style type="text/css">
@font-face {
    font-family: 'hp'; /*a name to be used later*/
    src: url('static/font/MagicSchoolOne.ttf'); /*URL to font*/
}


html, body {
  font-family: 'hp', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://i.ytimg.com/vi/h036iewRjx4/maxresdefault.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

    #potter-animation {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 50px;
        z-index: 10;
    }

    ul { 
        
        color: #887023;
        left: 50%;
        font-family: 'hp';
        list-style-type: none;
  text-align: center;
    }
    li{
font-size: 1000%;
          cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding-right: 15px;
    }

    .box{
        font-family: 'hp';
    }

    </style>
</head>

<body>
<div style="position: absolute;z-index: 1000;overflow-y:scroll; height:100%;width:100%;">


  <table>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td>  <input type='text' class="pick" id="monitorTop" /> </td>
        <td></td>
      </tr>

      <tr>
        <td> <input type='text' class="pick" id="rgbLarge" /> </td>
        <td>  <input type='text' class="pick" id="monitorLeft" /> </td>
        <td></td>
        <td>  <input type='text' class="pick" id="monitorRight" /></td>
      </tr>

      <tr>
        <td>  <input type='text' class="pick" id="rgbSmall" /> </td>
        <td></td>
        <td>  <input type='text' class="pick" id="monitorBottom" /></td>
        <td></td>
      </tr>


      <tr style="color: white;">
        <td>Ligth Time</td>
        <td > <input style="width: 40px" onkeydown="sendColors()" type='number'  id="timeOn" value ="0.05" /></td>
        <td> Off Time </td>
        <td> <input style="width: 40px" onkeydown="sendColors()" type='number' id="timeOff" value= "0.08" /> </td>
      </tr>


    </tbody>

  </table>
<button onclick="sendColors()">Submit</button>
  <!-- <div class="box" id =  "monitorTop">
      <input type='text' class="pick" id="monitorTop" />
  </div> -->


<ul>
    <li onclick="execute_click(this)" data-relative-url="lumos">Lumos</li>
    <li onclick="execute_click(this)" data-relative-url="nox">Nox</li>
</ul>

<ul>
  <li onclick="execute_click(this)" data-relative-url="ventus">Ventus</li>
  <li onclick="execute_click(this)" data-relative-url="ventnox">Ventnox</li>
</ul>

<ul>
  <li onclick="execute_click(this)" data-relative-url="yelos">Yelos</li>
  <li onclick="execute_click(this)" data-relative-url="yelnox">Yelnox</li>
</ul>

<ul>
  <li onclick="execute_click(this)" data-relative-url="balos">Balos</li>
  <li onclick="execute_click(this)" data-relative-url="balnox">Balnox</li>
</ul>
<ul>
  <li onclick="execute_click(this)" data-relative-url="remembrall">Remembrall</li>
  <li onclick="execute_click(this)" data-relative-url="obliviate">Obliviate</li>
</ul>


    </div>


<div id="potter-animation"></div>
    
<!-- <script src="static/js/wand1.js"></script> -->
<script>
   function sendColors(color){
    console.log("adf");
    var color = $("#rgbLarge").spectrum('get');
    var  data= {};
    data["rgbLarge"] = color["_r"]+","+color["_g"]+","+color["_b"];

    var color = $("#rgbSmall").spectrum('get');
     data["rgbSmall"] =color["_r"]+","+color["_g"]+","+color["_b"];

    var color = $("#monitorTop").spectrum('get');
     data["rgbmonitorTop"] = color["_r"] +","+color["_g"]+","+color["_b"];

    var color = $("#monitorBottom").spectrum('get');
     data["rgbmonitorBottom"] = color["_r"]+","+color["_g"]+","+color["_b"];

    var color = $("#monitorLeft").spectrum('get');
     data["rgbmonitorLeft"] = color["_r"]+","+color["_g"]+","+color["_b"];

    var color = $("#monitorRight").spectrum('get');
     data["rgbmonitorRight"] = color["_r"]+","+color["_g"]+","+color["_b"];
     data["timeOn"] =  $("#timeOn").val();
      data["timeOff"] =  $("#timeOff").val();
var base_url = window.location.origin;
var url = base_url + "/setColors"

   console.log(url)
   var xhr = new XMLHttpRequest();
xhr.open('POST', url, true);
xhr.setRequestHeader('Content-type', 'application/json;charset=UTF-8');
xhr.send(JSON.stringify(data));
    // data += "rgbSmallR="+color["_r"]+"&rgbSmallG="+color["_g"]+"&rgbSmallB="+color["_b"]

    console.log(data)
  }



  $(".pick").spectrum({
    preferredFormat: "rgb",
    color: "blue",
    showInput: true,
    showPalette: true,
    palette: [["red", "rgb(0,255,0)", "blue"]],
    change : sendColors
});
  0
      
  // $("#rgbLarge").on('change.spectrum', sendColors());
  var base_url = window.location.origin;


// $(#monitorTop).move(function(color) {
//     console.log(color.toHexString()); // #ff0000
//     console.log(123)
// }
   
// );
var spellAnimation = bodymovin.loadAnimation({
    container: document.getElementById("potter-animation"),
    renderer: "svg",
    loop: false,
    autoplay: false,
    path: "https://raw.githubusercontent.com/abrahamrkj/facebook-spell/master/data.json"
});

var base_url = window.location.origin;

function make_async_http_request(relative_url){
  var url = base_url + "/" + relative_url
  var xhr = new XMLHttpRequest();
  xhr.open('GET', url, true);
  xhr.send();
}

function execute_click(e){
  // Play the animation
  relative_url = $(e).attr('data-relative-url')
  make_async_http_request(relative_url)
  spellAnimation.stop();
  spellAnimation.play();
}


</script>



</body>

</html>
